@import 'tailwindcss';

@theme {
  --font-sans: var(--font-inter);
  --font-mono: 'Roboto Mono', monospace;
  --font-poppins: var(--font-poppins);

  --color-black: #000000;
}

body {
  font-family: var(--font-sans);
  background-color: var(--color-black);
  color: var(--color-zinc-200);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Custom text selection colors */
::selection {
  background-color: rgba(82, 82, 91, 0.8);
  color: var(--color-zinc-100);
}

/* For Firefox */
::-moz-selection {
  background-color: rgba(82, 82, 91, 0.8);
  color: var(--color-zinc-100);
}
