<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Confirm your email</title>
  </head>
  <body>
    <div
      class="email-container"
      style="
        font-family: 'Inter', Arial, sans-serif;
        font-weight: 400;
        padding: 40px;
        background-color: #e4e4e7;
      "
    >
      <img
        src="https://formofmusic.com/logo-fom-light.png"
        alt="The Form of Music"
        width="80"
        style="font-weight: bold; margin-bottom: 40px; margin-top: 0"
      />

      <p style="margin-bottom: 40px; line-height: 1.6; font-size: 1rem">
        You&apos;re nearly there.
        <br />
        Click below to complete your signup.
      </p>
      <p style="margin-bottom: 40px">
        <a
          href="{{ .SiteURL }}/auth/confirm?token_hash={{ .TokenHash }}&type=email"
          class="button"
          style="
            display: inline-block;
            color: black;
            padding: 0.75rem 1rem;
            border: 2px solid black;
            border-radius: 0;
            font-size: 0.875rem;
            font-weight: 600;
            text-transform: uppercase;
            text-decoration: none;
            margin-bottom: 0;
          "
        >
          Confirm my email
        </a>
      </p>
      <p
        style="
          margin-bottom: 0;
          line-height: 1.6;
          font-size: 0.875rem;
          font-style: italic;
        "
      >
        If this wasn&apos;t you, you can safely ignore this message.
      </p>
    </div>
  </body>
</html>
